<a href="https://colab.research.google.com/github/19PA1A0495/10-03-2020/blob/master/lr_nd_dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("students_placement_data.csv")
df.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [ ]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [ ]:
df['SSC Percentage']=df['SSC Percentage'].replace(to_replace=np.nan, value= df['SSC Percentage'].mean())

In [ ]:
df["registered_for_ Placement_Training"]=df["registered_for_ Placement_Training"].replace(to_replace=np.nan,value=df["registered_for_ Placement_Training"].mode()[0])

In [ ]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [ ]:
df['Gender']=df['Gender'].map({'M':0,'F':1})
df['Section']=df['Section'].map({'A':0,'B':1})
df['registered_for_ Placement_Training']= df['registered_for_ Placement_Training'].map({"NO":0,"yes":1})

In [ ]:
df

     Roll No  Gender  ...  registered_for_ Placement_Training  placement status
0          1       0  ...                                   0        Not placed
1          2       1  ...                                   1            Placed
2          3       1  ...                                   1        Not placed
3          4       0  ...                                   1        Not placed
4          5       0  ...                                   1        Not placed
..       ...     ...  ...                                 ...               ...
112      113       0  ...                                   0        Not placed
113      114       0  ...                                   0        Not placed
114      115       0  ...                                   0        Not placed
115      116       0  ...                                   0        Not placed
116      117       0  ...                                   0        Not placed

[117 rows x 9 columns]

In [ ]:
x=df[["Gender","Section","SSC Percentage","inter_Diploma_percentage",
 "B.Tech_percentage","Backlogs","registered_for_ Placement_Training"]].values

y=df["placement status"]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [ ]:
model=LogisticRegression(max_iter=2000)
model=model.fit(x_train,y_train)
y_pred= model.predict(x_test)

In [ ]:
actual_pred = pd.DataFrame({"predicted":y_pred.flatten(), "actual":y_test.flatten()})
actual_pred

AttributeError: ignored

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
pd.DataFrame(
    confusion_matrix(y_pred, y_test),
    columns = ["pred","actual"],
    index=['placed','notplaced']
)

           pred  actual
placed       13       3
notplaced     3       5

In [ ]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
print("accuracy", accuracy_score(y_pred,y_test))

accuracy 0.75

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model1=DecisionTreeClassifier()
model1= model1.fit(x_train, y_train)
y_pred1=model1.predict(x_test)

In [ ]:
dc = pd.DataFrame({"act":y_test,"pred":y_pred1})
dc

            act        pred
10       Placed      Placed
59       Placed      Placed
95   Not placed  Not placed
91   Not placed      Placed
7    Not placed  Not placed
86   Not placed  Not placed
26   Not placed  Not placed
112  Not placed  Not placed
22   Not placed  Not placed
94       Placed  Not placed
101      Placed      Placed
2    Not placed  Not placed
50       Placed      Placed
24   Not placed  Not placed
116  Not placed  Not placed
62   Not placed  Not placed
93   Not placed  Not placed
74   Not placed  Not placed
61       Placed      Placed
73       Placed  Not placed
16   Not placed      Placed
108  Not placed  Not placed
13       Placed      Placed
43   Not placed      Placed

In [ ]:
pd.DataFrame(
    confusion_matrix(y_pred1,y_test),
    columns = ["pred","act"],
    index= ['placed','not placed']
)

            pred  act
placed        13    2
not placed     3    6

In [ ]:
accuracy_score(y_pred1, y_test)*100

79.16666666666666